/*Estructura de css
selector{ propiedad: valor}
*/

body {
  background-color: rgb(251, 199, 247);
}

h1,
h2 {
  text-align: center;
}

header {
  background-image: url("../img/header.jpg");
  height: 200px;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 80%;
  top: 0px;
  margin-left: 10%;
}

/* el valor flex end es para que se quede a la derecha
el valor center es para que que en el centro */

header h1 {
  background-color: rgba(255, 255, 255, 0.623);
  padding: 10px;
  width: 300px;
  height: 50px;
  font-family: "Segoe UI";
}

nav {
  background-color: transparent;
  height: 50px;
  position: fixed;
  top: 0;
  left: 50px;
}

nav ol li {
  background-color: rgb(44, 43, 43);
  display: inline;
  color: #fff;
  padding: 15px;
  margin: 0px 10px;
}

article {
  padding-top: 100px;
  background: linear-gradient(
    rgb(205, 240, 234),
    rgb(249, 249, 249),
    rgb(246, 198, 234)
  );
  width: 80% !important;
  margin-left: 10%;
}

nav ol li a {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
}

nav ol li:hover {
  background-color: rgba(44, 43, 43, 0.144);
  box-shadow: 5px 3px 5px black;
}

nav ol li a:hover {
  color: black;
  font-weight: bold;
}
/* en box shadow especificas en primer lugar la posición de la sombra en eje X, en segundo lugar en el eje Y, y en último lugar indicas el tipo de difuminado. Después aclarás el color  */

main {
  width: 80%;
}

h4 font {
  color: black !important;
}

/*jerarquía 
1) online (por ejemplo, font)
2) jerarquía style 
3) fichero
!important sirve para remarcar y forzar que el elemento tenga el color */
